#phpstorm
.idea

!/cache/class_index.php
!/cache/index.php

/cache/cachefs/*
!/cache/cachefs/index.php

/cache/sandbox/*
!/cache/sandbox/index.php

/cache/smarty/*
!/cache/smarty/index.php

/cache/tcpdf/*
!/cache/tcpdf/index.php

/cache/smarty/cache/*
!/cache/smarty/cache/index.php

/cache/smarty/compile/*
!/cache/smarty/compile/index.php

/cache/purifier/*
!/cache/purifier/index.php

/themes/*/cache/*
!/themes/*/cache/index.php


